body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #fff;
}

.header {
    background-color: #000000;
    padding: 10px;
}

.logo {
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-text {
    text-align: center;
}

h1 {
    color: #fff;
}

.sub-links {
    display: flex;
    justify-content: center;
}

.sub-links a {
    color: #6d8682;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.sub-links a:hover {
    color: #00bcd4;
}

.sub-links a:focus {
    outline: none;
}

.sub-links a.active {
    color: #00bcd4;
}
